# Files
*.env
*.env.*
!*.env.example

*.lock
*.lock.*
*-lock.*

*.log
*.log.*

*.whl
*.whl.*

*.zip
*.zip.*

# General
/**/.idea/
/**/.vscode/

/**/__pycache__/

/**/node_modules/
/**/venv/


# Svelte
/**/.DS_STORE/
/**/__sapper__/
/**/.svelte-kit/
/**/build/